body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
}

.noughts {
  color: blue;
}

.crosses {
  color: red;
}

canvas {
  cursor: pointer;
  margin: 1em 0 2em 0;
}

p {
  width: 700px;
  margin: auto;
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 2em;
}

a {
  color: blue;
  padding-bottom: 4em;
}
